In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

# Carga de dataset train

In [4]:
data_path = '/content/drive/MyDrive/Colab Notebooks/Statistical II/Titanic/train.csv'
datatrain = pd.read_csv(data_path)
datatrain.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
datatrain.shape

(891, 12)

# Carga de dataset test

In [6]:
data_path = '/content/drive/MyDrive/Colab Notebooks/Statistical II/Titanic/test.csv'
datatest = pd.read_csv(data_path)
datatest.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [7]:
datatest.shape

(418, 11)

## EXPLORACIÓN DE DATATRAIN

In [8]:
datatrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
# Selección de variables
train = datatrain.drop(['Ticket', 'Cabin', 'Name'], axis = 1)
train.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [11]:
train.shape

(891, 9)

In [12]:
#Revisión de nulos
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
Embarked         2
dtype: int64

#Ingenieria de Caracteristicas TRAIN

In [13]:
#One hot encoding de SEX
ohe = pd.get_dummies(train['Sex'], drop_first=True)
train.drop('Sex', axis=1, inplace=True)
train = train.join(ohe)
train.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare Embarked  male
0            1         0       3  22.0      1      0   7.2500        S     1
1            2         1       1  38.0      1      0  71.2833        C     0
2            3         1       3  26.0      0      0   7.9250        S     0
3            4         1       1  35.0      1      0  53.1000        S     0
4            5         0       3  35.0      0      0   8.0500        S     1

In [14]:
#One hot encoding de EMBARKED
ohe = pd.get_dummies(train['Embarked'], drop_first=True)
train.drop('Embarked', axis=1, inplace=True)
train = train.join(ohe)
train.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare  male  Q  S
0            1         0       3  22.0      1      0   7.2500     1  0  1
1            2         1       1  38.0      1      0  71.2833     0  0  0
2            3         1       3  26.0      0      0   7.9250     0  0  1
3            4         1       1  35.0      1      0  53.1000     0  0  1
4            5         0       3  35.0      0      0   8.0500     1  0  1

In [15]:
#Imputación de media en variable AGE
meanValue = np.round(train['Age'].mean(), 0)

In [16]:
train['Age'] = train['Age'].fillna(meanValue)
train.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare  male  Q  S
0            1         0       3  22.0      1      0   7.2500     1  0  1
1            2         1       1  38.0      1      0  71.2833     0  0  0
2            3         1       3  26.0      0      0   7.9250     0  0  1
3            4         1       1  35.0      1      0  53.1000     0  0  1
4            5         0       3  35.0      0      0   8.0500     1  0  1

In [17]:
train.isnull().values.any()

False

In [18]:
train.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
male           0
Q              0
S              0
dtype: int64

In [19]:
X_train = train.iloc[:, train.columns != 'Survived']
y_train= train.loc[:, 'Survived']

In [20]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [21]:
std_scaler = StandardScaler()
X = std_scaler.fit_transform(X_train)

#Ingenieria de Caracteristicas TEST

In [22]:
datatest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [23]:
# Selección de variables
test = datatest.drop(['Ticket', 'Cabin', 'Name'], axis = 1)
test.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          892       3    male  34.5      0      0   7.8292        Q
1          893       3  female  47.0      1      0   7.0000        S
2          894       2    male  62.0      0      0   9.6875        Q
3          895       3    male  27.0      0      0   8.6625        S
4          896       3  female  22.0      1      1  12.2875        S

In [24]:
#One hot encoding de SEX
ohe = pd.get_dummies(test['Sex'], drop_first=True)
test.drop('Sex', axis=1, inplace=True)
test = test.join(ohe)
test.head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare Embarked  male
0          892       3  34.5      0      0   7.8292        Q     1
1          893       3  47.0      1      0   7.0000        S     0
2          894       2  62.0      0      0   9.6875        Q     1
3          895       3  27.0      0      0   8.6625        S     1
4          896       3  22.0      1      1  12.2875        S     0

In [25]:
#One hot encoding de EMBARKED
ohe = pd.get_dummies(test['Embarked'], drop_first=True)
test.drop('Embarked', axis=1, inplace=True)
test = test.join(ohe)
test.head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare  male  Q  S
0          892       3  34.5      0      0   7.8292     1  1  0
1          893       3  47.0      1      0   7.0000     0  0  1
2          894       2  62.0      0      0   9.6875     1  1  0
3          895       3  27.0      0      0   8.6625     1  0  1
4          896       3  22.0      1      1  12.2875     0  0  1

In [26]:
test.shape

(418, 9)

In [27]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Age          332 non-null    float64
 3   SibSp        418 non-null    int64
 4   Parch        418 non-null    int64
 5   Fare         417 non-null    float64
 6   male         418 non-null    uint8
 7   Q            418 non-null    uint8
 8   S            418 non-null    uint8
dtypes: float64(2), int64(4), uint8(3)
memory usage: 20.9 KB

In [28]:
#Revisión de nulos
test.isnull().sum()

PassengerId     0
Pclass          0
Age            86
SibSp           0
Parch           0
Fare            1
male            0
Q               0
S               0
dtype: int64

In [29]:
#Imputación de media en variable AGE
meanValue = np.round(test['Age'].mean(), 0)

In [30]:
test['Age'] = test['Age'].fillna(meanValue)
test.head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare  male  Q  S
0          892       3  34.5      0      0   7.8292     1  1  0
1          893       3  47.0      1      0   7.0000     0  0  1
2          894       2  62.0      0      0   9.6875     1  1  0
3          895       3  27.0      0      0   8.6625     1  0  1
4          896       3  22.0      1      1  12.2875     0  0  1

In [31]:
#Imputación de media en variable FARE
meanValue = np.round(test['Fare'].mean(), 0)

In [32]:
test['Fare'] = test['Fare'].fillna(meanValue)
test.head()

   PassengerId  Pclass   Age  SibSp  Parch     Fare  male  Q  S
0          892       3  34.5      0      0   7.8292     1  1  0
1          893       3  47.0      1      0   7.0000     0  0  1
2          894       2  62.0      0      0   9.6875     1  1  0
3          895       3  27.0      0      0   8.6625     1  0  1
4          896       3  22.0      1      1  12.2875     0  0  1

In [33]:
#verificación de NAs
test.isnull().values.any()

False

In [34]:
X_test = test.iloc[ : ]

In [35]:
std_scaler = StandardScaler()
X_t = std_scaler.fit_transform(X_test)

#KERAS

In [36]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [37]:
inputs = X_train.shape[1]

## Ejercicio con 2 capas ocultas y 6 neuronas

In [43]:
X_train.shape[1]

9

In [38]:
# Base secuencial para definir la estructura de la Red (SIEMPRE INICIAR CON SEQUENTIAL)
clasificador = Sequential()

#primera capa oculta
clasificador.add(Dense(input_dim = inputs, units=6, activation='relu', kernel_initializer='uniform'))

#segunda capa oculta
clasificador.add(Dense(units=6, activation='relu', kernel_initializer='uniform'))

#capa de salida
clasificador.add(Dense(units=1, activation='sigmoid', kernel_initializer='uniform'))

In [ ]:
#parametros de optimización
clasificador.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

#parametros de entrenamiento.
clasificador.fit(X_train, y_train, batch_size=25, epochs=100)

In [40]:
path = '/content/drive/MyDrive/Colab Notebooks/Statistical II/Titanic/' 
clasificador.save(path + '6_6_sig_out.h5')

In [41]:
# Cargamos la red.
new_model = keras.models.load_model(path + '6_6_sig_out.h5')

In [ ]:
X_t = test.iloc[:, test.columns != 'Survived']
y_preds = new_model.predict(X_t)
y_preds

## Ejercicio con 2 capas ocultas y 10 neuronas

In [45]:
# Base secuencial para definir la estructura de la Red (SIEMPRE INICIAR CON SEQUENTIAL)
clasificador = Sequential()

#primera capa oculta
clasificador.add(Dense(input_dim = inputs, units=10, activation='relu', kernel_initializer='uniform'))

#segunda capa oculta
clasificador.add(Dense(units=10, activation='relu', kernel_initializer='uniform'))

#capa de salida
clasificador.add(Dense(units=1, activation='sigmoid', kernel_initializer='uniform'))

In [ ]:
#parametros de optimización
clasificador.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

#parametros de entrenamiento.
clasificador.fit(X_train, y_train, batch_size=25, epochs=100)

## Ejercicio con 2 capas ocultas y 4 neuronas Epochs 150

In [47]:
# Base secuencial para definir la estructura de la Red (SIEMPRE INICIAR CON SEQUENTIAL)
clasificador = Sequential()

#primera capa oculta
clasificador.add(Dense(input_dim = inputs, units=4, activation='relu', kernel_initializer='uniform'))

#segunda capa oculta
clasificador.add(Dense(units=4, activation='relu', kernel_initializer='uniform'))

#capa de salida
clasificador.add(Dense(units=1, activation='sigmoid', kernel_initializer='uniform'))

In [ ]:
#parametros de optimización
clasificador.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

#parametros de entrenamiento.
clasificador.fit(X_train, y_train, batch_size=25, epochs=150)

## Ejercicio con 2 capas ocultas y 4 neuronas Epochs 150 y layer de salida relu

In [49]:
# Base secuencial para definir la estructura de la Red (SIEMPRE INICIAR CON SEQUENTIAL)
clasificador = Sequential()

#primera capa oculta
clasificador.add(Dense(input_dim = inputs, units=4, activation='relu', kernel_initializer='uniform'))

#segunda capa oculta
clasificador.add(Dense(units=4, activation='relu', kernel_initializer='uniform'))

#capa de salida
clasificador.add(Dense(units=1, activation='relu', kernel_initializer='uniform'))

In [ ]:
#parametros de optimización
clasificador.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

#parametros de entrenamiento.
clasificador.fit(X_train, y_train, batch_size=25, epochs=150)

## Ejercicio con 2 capas ocultas y 6 neuronas y 250 Epochs

In [51]:
# Base secuencial para definir la estructura de la Red (SIEMPRE INICIAR CON SEQUENTIAL)
clasificador = Sequential()

#primera capa oculta
clasificador.add(Dense(input_dim = inputs, units=6, activation='relu', kernel_initializer='uniform'))

#segunda capa oculta
clasificador.add(Dense(units=6, activation='relu', kernel_initializer='uniform'))

#capa de salida
clasificador.add(Dense(units=1, activation='sigmoid', kernel_initializer='uniform'))

In [ ]:
#parametros de optimización
clasificador.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

#parametros de entrenamiento.
clasificador.fit(X_train, y_train, batch_size=25, epochs=500)